.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 100px;
  width: 100px;
}

.textRed {
  color:red;
}

i {
  color: teal;
}

.cmd-shell {
  font-style: italic;
  color: lightslategray;
}

th {
  color: teal;
}

code {
  color: lightcoral;
}